* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background-color: gray;
	
}


header {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	background-color: white;
	
}

img {
	height: 2.2em;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
	vertical-align: middle;
}


h1 {
	color: #B71C1C;
	text-align: center;
	font-size: 3em;
	vertical-align: middle;
}


.contenedor_operaciones {
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	display: flex;
	justify-content: space-around;

}

.operacion {
	padding: 10px;
	width: 40%;
	background-color: #BDBDBD;
	margin: 15px;
	flex-direction: row;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 1.5%;

}


.material-icons {
		display: inline-block;
		vertical-align: bottom;
		color: #a60014;
}

h3 {
	display: inline-block;
	color: #a60014;
}


textarea {
	height: 100px;
	resize: none;
	width: 100%;
	margin-bottom: 10px;
}




/*MEDIA QUERIES===============================================================*/
@media (max-width: 700px) {

	header {
		margin: 0%;
		width: 100%;
	}

	img {
		height: 1.5em;
		margin-top: 5px;
		margin-bottom: 5px;
		width: auto;
	}

	h1 {
		font-size: 40px;
		width: 100%;
	}

	.contenedor_operaciones {
		margin: 0%;
		display: flex;
		flex-wrap: wrap;
	}

	.operacion {
		width: 100vw;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		border-radius: 0;
	}
}