* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background-color: gray;
	
}


header {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	background-color: white;
	
}

img {
	height: 2.2em;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
	vertical-align: middle;
}


h1 {
	color: red;
	text-align: center;
	font-size: 3em;
	vertical-align: middle;
}


.contenedor_operaciones {
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	display: flex;
	justify-content: space-around;

}

.operacion {
	padding: 10px;
	width: 40%;
	background-color: yellow;
	margin: 15px;
	flex-direction: row;

}

.material-icons {
	vertical-align: middle;
	display: inline; 
}

h3 {
	display: inline;
}


textarea {
	height: 100px;
	resize: none;
	width: 100%;
	margin-bottom: 10px;
}




/*MEDIA QUERIES===============================================================*/
@media (max-width: 700px) {

	header {
		margin: 0%;
		width: 100%;
	}

	img {
		height: 1.5em;
		margin-top: 5px;
		margin-bottom: 5px;
		width: auto;
	}

	h1 {
		font-size: 40px;
		width: 100%;
	}

	.contenedor_operaciones {
		margin: 0%;
		background-color: orange;
		display: flex;
		flex-wrap: wrap;
	}

	.operacion {
		width: 100vh;
		background-color: red;
	}
}